name: test

on:
  pull_request:
    types: [synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "trivy-results.sarif"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          skip-cache: true
      - name: Check code formatting
        run: |
          GO_FILES=$(find . -iname '*.go' -type f) # All the .go files, excluding vendor/
          UNFORMATTED=$(gofmt -s -l $GO_FILES)
          if [ -n "$UNFORMATTED" ]; then
            echo "The following files are not formatted:"
            echo "$UNFORMATTED"
            exit 1
          fi
      - name: Run go vet
        run: go vet ./...
      - name: Check code complexity
        run: |
          go install github.com/fzipp/gocyclo/cmd/gocyclo@latest
          /home/runner/go/bin/gocyclo -over 19 cmd pkg
      - name: Run unit tests
        run: go test -v -race -timeout 5m -coverprofile=coverage.out -covermode=atomic ./pkg/...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.out
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
      - name: Build binary
        run: go build -o bin/helm-gcs ./cmd/helm-gcs/main.go
      - name: Verify binary
        run: ./bin/helm-gcs version
